@import '../../styles/placeholders.scss';
@import '../../styles/variables.scss';

.mainNav {
    width: 100%;
    position: fixed;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 90;
}

.navWrapper {
    @extend %container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-light;

    @media (max-width: 768px) {
        display: none;        
    }
}

.logoLink {
    cursor: pointer;
}

.logoImg {
    cursor: pointer;
    width: 130px;
    height: 35px;
}

.navList {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.navItem {
    font-weight: 700;
    color: $color-light;
}

.burgerWrapper {
    width: 100%;
    padding: 10px 30px;
    display: none;
    justify-content: flex-end;

    @media (max-width: 768px) {
        display: flex;
    }
}

.burgerButton {
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    outline: none;
}

.burger {
    width: 35px;
    height: 35px;
}
