@import '../../styles/variables.scss';


.item {
    &:nth-of-type(2n) {
        padding-left: 100px;
    }
    
    &:not(:last-of-type) {
        margin-bottom: 60px;
    }
}

.text {
    line-height: 1.4;
    margin-bottom: 30px;
}

.author {
    color: $color-main;
    margin-bottom: 6px;
}

.location {
    color: $color-main;
    margin-bottom: 20px;
    font-size: 14px;
}