.text {
    line-height: 1.4;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.author {
    color: #fff;
    text-align: center;
}

.location {
    color: #fff;
    text-align: center;
}