@import '../../styles/placeholders.scss';
@import '../../styles/variables.scss';

.heading {
    @extend %mainTitle;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.subheading {
    color: $color-main;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 40px;
    position: relative;
    display: block;
    width: 130px;
    padding-left: 16px;

    &::before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: chartreuse;
        position: absolute;
        top: 6px;
        left: 0;
    }
}

.infoWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.leftGroup {
    flex-basis: 48%;
}

.innerLeft {
    max-width: 315px;
}

.rightGroup {
    flex-basis: 50%;
}

.img {
    max-width: 100%;
}

.serviceItem {
    @extend %blueDiePseudo;
    padding: 20px 0;
    
    &::before {
        top: -4px;
    }
}

.button {
    @extend %button;
    @extend %buttonMd;
    @extend %buttonColor;
}