@import '../../styles/placeholders.scss';
@import '../../styles/variables.scss';

.buttonsWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttonActive {
    @extend %buttonBg;
    @extend %buttonDark;
    font-weight: 700;
}

.button {
    @extend %buttonBg;
    @extend %buttonLight;
}

.aboutWrapper {
    display: flex;
}

.heading {
    @extend %mainTitle;
}

.typesList {
    counter-reset: section; 
}

.typesItem {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 120px;

    &:nth-child(2n) {
        justify-content: flex-end;
    }

    &::before {
        counter-increment: section;
        content: '0'counter(section); 
        font-size: 200px;
        color: $color-light-grey;
        user-select: none;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.itemInnerWrap {
    padding-left: 110px;
    max-width: 560px;
}

.subheading {
    @extend %secondaryTitle;
}