@import '../../styles/placeholders.scss';
@import '../../styles/variables.scss';

.buttonsWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.buttonLeft {
    @extend %button;
    @extend %buttonBg;
    @extend %buttonLight;
    border-radius: 4px 0px 0px 4px;
}

.buttonRight {
    @extend %button;
    @extend %buttonBg;
    @extend %buttonLight;
    border-radius: 0px 4px 4px 0px;
}


.buttonActiveLeft {
    @extend %button;
    @extend %buttonBg;
    @extend %buttonDark;
    font-weight: 700;
    border-radius: 4px 0px 0px 4px;
}

.buttonActiveRight {
    @extend %button;
    @extend %buttonBg;
    @extend %buttonDark;
    font-weight: 700;
    border-radius: 0px 4px 4px 0px;
}

.aboutWrapper {
    display: flex;
}

.text {
    flex-grow: 3;
    line-height: 1.5;
}

.image {
    margin-right: 44px;
}

.heading {
    @extend %mainTitle;
    text-align: center;
    margin-bottom: 50px;
}

.typesList {
    counter-reset: section; 
}

.typesItem {
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 120px;

    &:nth-child(2n) {
        justify-content: flex-end;
    }
}

.itemInnerWrap {
    padding-left: 110px;
    max-width: 560px;
    position: relative;
    z-index: 10;

    &::before {
        counter-increment: section;
        content: '0'counter(section); 
        font-size: 200px;
        font-weight: bold;
        color: $color-light-grey;
        user-select: none;
        position: absolute;
        top: -104px;
        left: 0px;
        z-index: -1;
    }
}

.subheading {
    @extend %secondaryTitle;
}