@import '../../styles/placeholders.scss';
@import '../../styles/variables.scss';

.baner {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    background-image:  url('/img/jpg/baner3.jpg');
    background-size: cover;
    background-position: center top;
}

.banerWrapper {
    @extend %container;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    margin-bottom: 40px;
    color: $color-light;
    font-weight: 700;
    font-size: $font-size-heading;
    text-align: center;
}

.subheading {
    margin-bottom: 74px;
    color: $color-light;
    text-align: center;
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    @extend %button;
    @extend %buttonBg;
    background-color: $color-main;
    color: $color-light;
    margin-bottom: 24px;

    @media (min-width: 550px) {
        &:not(:last-of-type) {
            margin-right: 10px;
        }    
    }
}