@import '../../styles/placeholders.scss';
@import '../../styles/variables.scss';

.baner {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    background-image:  url('/img/jpg/banner5.jpg');
    background-size: cover;
    background-position: center top;
    position: relative;
    padding: 0;

    @media (max-width: 615px) {
        background-position: 43% 0%;
    }
}

.banerWrapper {
    @extend %container;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.infoWrapper {
    margin-bottom: 36px;

    @media (min-width: 615px) {
        padding-left: 50%;
    }

    @media (min-width: 769px) {
        padding-top: 0px;
        padding-left: 50px;
        align-self: flex-start;
    }
}

.info {
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: $color-main;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: underline;

    &:first-of-type {
        color: #fff;
        text-decoration: none;
    }

    &:hover {
        color: #fff;
    }

    @media (min-width: 615px) {
        font-size: 14px;
        text-align: left;
    }

    @media (min-width: 769px) {
        font-size: 18px;
        margin-bottom: 4px;
    }
}

.headingWrapper {
    width: 100%;
    @media (min-width: 769px) {
    padding: 0 140px;
    }
}

.heading {
    color: $color-light;
    font-weight: 700;
    font-size: $font-size-heading;
    text-transform: uppercase;
    line-height: 1;
    text-align: right;
    letter-spacing: 4px;
    
    &:not(:first-of-type) {
        margin-bottom: 90px;
        text-align: left;
    }
    
    @media (max-width: 615px) {
        font-size: 1.5rem;
    }

    @media (max-width: 768px) {
        text-align: center;

        &:not(:first-of-type) {
            text-align: center;
        }
    }

}

.subheading {
    @extend %blueDiePseudo;
    color: $color-light;
    line-height: 1.4;
    font-weight: 600;
    width: 250px;

    &:not(:last-of-type) {
        margin-right: 40px;
    }

    @media (max-width: 615px) {
     &:not(:last-of-type) {
         margin-bottom: 36px;
         margin-right: 0;
     }   

     text-align: center;

     &::before {
         left: 50%;
         transform: translateX(-50%);
     }
    }
}

.subheadingWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 74px;
    max-width: 540px;
    flex-wrap: wrap;
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    @extend %button;
    @extend %buttonBg;
    @extend %buttonColor;
    margin-bottom: 24px;
    width: 250px;

    @media (min-width: 550px) {
        &:not(:last-of-type) {
            margin-right: 40px;
        }    
    }

    &:last-of-type {
        @extend %buttonLight;
        color: $color-dark;
    }
}