@import '../../styles/placeholders.scss';
@import '../../styles/variables.scss';

.baner {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    background-image:  url('/img/jpg/baner3.jpg');
    background-size: cover;
    background-position: center top;
}

.banerWrapper {
    @extend %container;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    margin-bottom: 90px;
    color: $color-light;
    font-weight: 700;
    font-size: $font-size-heading;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.subheading {
    @extend %blueDiePseudo;
    color: $color-light;
    line-height: 1.4;
    font-weight: 600;
    width: 250px;

    &:not(:last-of-type) {
        margin-right: 40px;
    }

}

.subheadingWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 74px;
    max-width: 540px;
}

.buttonsWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button {
    @extend %button;
    @extend %buttonBg;
    background-color: $color-main;
    color: $color-light;
    margin-bottom: 24px;
    width: 250px;

    @media (min-width: 550px) {
        &:not(:last-of-type) {
            margin-right: 40px;
        }    
    }
}