@import '../../styles/placeholders.scss';

.mainWrapper {
    scroll-margin-top: 55px;
}

.heading {
    @extend %mainTitle;
    text-align: center;
    margin-bottom: 30px;
}

.subtitle {
    @extend %secondaryTitle;
    text-align: center;
}

.paginationList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.paginationItem {
    display: block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.25s ease;
    cursor: pointer;

    &:not(:last-child) {
        margin-right: 20px;
    }

    &:hover {
        transform: scale(1.5);
        background-color: #222;
    }
}

.paginationItemActive {
    transform: scale(1.5);
}
