@import '../../styles/placeholders.scss';

.item {
    width: 48%;
    padding: 40px 30px;
    border: 1px solid #cecece;
    border-radius: 6px;
    position: relative;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 15px;
        background-color: $color-main;
        left: 0;
        top: 45px;
        z-index: 200;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.mainWrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    margin-bottom: 24px;

    @media (max-width: 615px) {
        flex-wrap: wrap;   
    }
}

.title {
    @extend %secondaryTitle;
    text-align: left;
    text-transform: uppercase;
    max-width: 230px;
}

.imagesWrapper {
    flex-basis: 210px;
    min-width: 210px;
    height: 165px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 615px) {
        display: none;
    }
}

.imagesWrapperMobile {
    flex-basis: 210px;
    min-width: 210px;
    height: 165px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 616px) {
        display: none;
    }
}

.image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: relative;
    z-index: 10;
    opacity: 1;
    transition: all 0.5s ease;

    &:hover {
        opacity: 0;

        & + img {
            opacity: 1;
        }
    }
}

.imageBack {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.featuresList {
    margin-bottom: 20px;
}

.featuresItem {
    margin-bottom: 14px;
    color: #909090;
    font-size: 12px;
}

.description {
    margin-bottom: 40px;
}

.buttonsWrapper {
    display: flex;

    @media (max-width: 615px) {
        flex-wrap: wrap;   
    }
}


.buttonMore {
    @extend %button;
    @extend %buttonMd;
    @extend %buttonDark;
}

.buttonSample {
    @extend %button;
    @extend %buttonMd;
    @extend %buttonColor;
    margin-right: 20px;

    @media (max-width: 615px) {
        margin-bottom: 20px;
    }
}