@import '../../styles/placeholders.scss';
@import '../../styles/variables.scss';


.titleWrapper {
    padding: 0 150px;

    @media (max-width: 768px) {
        padding: 0;
    }
}

.titleTop {
    @extend %mainTitle;
    text-align: left;

    @media (max-width: 615px) {
        text-align: center;
    }
}

.titleBottom {
    @extend %mainTitle;
    text-align: right;
    margin-bottom: 30px;

    @media (max-width: 615px) {
        text-align: center;
    }
}

.individualWrapper {
    padding: 40px 80px;
    background-color: $color-main;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 615px) {
     flex-wrap: wrap;   
    }
}

.textWrapper {
    flex-basis: 48%;

    @media (max-width: 615px) {
        flex-basis: 100%;
        margin-bottom: 20px;   
    }
}

.individualHeading {
    @extend %secondaryTitle;
    @extend %whiteDiePseudo;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;

    &::before {
        top: 6px;
        left: -80px;
    }
}

.text {
    color: #fff;
}

.buttonsWrapper {
    display: flex;
    flex-basis: 48%;
    justify-content: flex-end;

    @media (max-width: 615px) {
        flex-wrap: wrap;   
        justify-content: flex-start;
    }
}

.whiteButton {
    @extend %button;
    @extend %buttonMd;
    @extend %buttonLight;
    margin-right: 24px;

    @media (max-width: 615px) {
        margin-bottom: 20px;   
    }
}

.transparentButton {
    @extend %button;
    @extend %buttonMd;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}