@import '../../styles/placeholders.scss';

.contacts {
    background-color: #212F3D;
}

.heading {
    @extend %mainTitle;
    color: #fff;
    margin-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
}

.list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @media (max-width: 615px) {
        padding-left: 40px;
        justify-content: flex-start;
    }
}

.item {
    color: #fff;
    margin-bottom: 24px;
}

.linkWrapper {
    display: flex;
    justify-content: flex-end;
}

.link {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}