@import "../../styles/placeholders.scss";
@import "../../styles/variables.scss";

.heading {
  @extend %mainTitle;
  margin-bottom: 80px;
  text-transform: uppercase;
  text-align: center;
}

.subheading {
  color: $color-main;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 40px;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;

  @media (max-width: 615px) {
    justify-content: flex-start;
  }
}

.item {
  margin-bottom: 24px;
}

.linkWrapper {
  display: flex;
  justify-content: flex-end;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.text {
  margin-right: 12px;

  @media (max-width: 615px) {
    display: block;
    margin-right: 0px;
    margin-bottom: 10px;

    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
  }
}

.span {
  color: $color-main;
  font-weight: 600;
  width: 100px;
}

.infoWrap {
  display: flex;
}

.leftColumn {
  width: 120px;

  @media (max-width: 615px) {
    vertical-align: top;
  }
}
