@import './variables.scss';

@font-face {
font-family: 'Roboto', sans-serif;
src: url('../public//fonts//Roboto/Roboto-Light.ttf') format('truetype');
font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../public//fonts//Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../public//fonts//Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('../public//fonts//Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

html,
body {
  font-family: Roboto, sans-serif;
  font-size: $font-size-base;
  font-weight: 400;
  color: $color-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  padding: 120px 0;
}