@import './variables.scss';
@import './placeholders.scss';
@import 'react-notifications-component/dist/scss/notification.scss';

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('../public/fonts/Manrope/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('../public/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('../public/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('../public/fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('../public/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('../public/fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../public/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../public/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../public/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../public/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../public/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('../public/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

html,
body {
  font-family: 'Manrope', sans-serif;
  font-size: $font-size-base;
  font-weight: 300;
  color: $color-dark;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  padding: 120px 0 60px;
  scroll-margin-top: -35px;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
}

.page__main {
  padding: 140px 0px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section__header {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}
