@import './variables.scss';
@import './placeholders.scss';
@import 'react-notifications-component/dist/scss/notification.scss';

html,
body {
  font-family: 'Manrope', sans-serif;
  font-size: $font-size-base;
  font-weight: 300;
  color: $color-dark;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  padding: 120px 0 60px;
  scroll-margin-top: -35px;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
}

.page__main {
  padding: 140px 0px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.section__header {
  font-family: 'Prosto One', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;

  @media (max-width: 615px) {
        font-size: 1.5rem;
  }
}
