@import './variables.scss';

%button {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 700;
    background-color: $color-main;
    cursor: pointer;
    letter-spacing: 1.2px;
    transform: scale(1);
    transition: all 0.25s;
    width: max-content;

    &:hover {
        transform: scale(1.1);
    }
}

%buttonSm {
    padding: 6px 20px;
}

%buttonMd {
    padding: 16px 26px;
}

%buttonBg {
    padding: 32px 20px;
    text-transform: uppercase;
}

%buttonDark {
    background-color: $color-dark;
    color: $color-light;
}

%buttonLight {
    background-color: $color-light;
}

%buttonColor {
    background-color: $color-main;
    color: $color-light;
}

%container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

%mainTitle {
    font-family: 'Prosto', sans-serif;
    font-size: $font-size-heading;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    // margin-bottom: 20px;

    @media (max-width: 615px) {
        font-size: 1.5rem;
    }
}

%secondaryTitle {
    font-family: 'Prosto', sans-serif;
    font-size: $font-size-subheading;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: 615px) {
        font-size: 1.2rem;
    }
}

%blueDiePseudo {
    position: relative;

    &::before {
        content: '';
        display: block;
        background-color: $color-main;
        width: 60px;
        height: 10px;
        position: absolute;
        top: -20px;
        left: 0;
    }
}

%blueDie {
        background-color: $color-main;
        width: 60px;
        height: 10px;

}

%whiteDiePseudo {
    position: relative;

    &::before {
        content: '';
        display: block;
        background-color: #fff;
        width: 60px;
        height: 10px;
        position: absolute;
        top: -20px;
        left: 0;
    }
}