@import './variables.scss';

%button {
    border-radius: 4px;
    font-weight: 700;
    background-color: $color-main;
}

%buttonSm {
    padding: 6px 20px;
}

%buttonMd {
    padding: 16px 30px;
}

%buttonBg {
    padding: 24px 60px;
}

%buttonDark {
    background-color: $color-dark;
    color: $color-light;
}

%buttonLight {
    border: 1px solid $color-dark;
}

%buttonColor {
    background-color: $color-main;
    color: $color-light;
}

%container {
    max-width: 1200px;
    margin: 0 auto;
}

%mainTitle {
    font-size: $font-size-heading;
    font-weight: 700;
    margin-bottom: 20px;
}

%secondaryTitle {
    font-size: $font-size-subheading;
    font-weight: 700;
    margin-bottom: 20px;
}